<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome {{name}}</h1>
    <a href="/viewEditServiceLocation">View And Edit My Service Locations</a>
    <br>
    <a href="/viewDeviceByLocation">View My Devices By Service Locations</a>
    <br>
    <a href="/viewDailyEnergy">View My Daily Energy Consumption In Given Month And Year</a>
    <br>
    <a href="/AverageMonthlyConsumptionPerType">View My Average Monthly Energy Cost For Each Device Type In Given Month And Year</a>
    <br>
    <a href="/compareEnergyBetweenLocation">Compare Your Location Energy Consumption With Other Area-Similar Locations</a>
    <br>
    <a href="/viewSaving">What If I Use Devices During Midnight?</a>
    <br>
    <br>
    <a href="/logout">Log out</a>
</body>
</html>