<!DOCTYPE html>
<html lang="en">
<head>
    <title>Enroll Device</title>
</head>
<style type="text/css">table,th,td{border: 1px solid black;}</style>
<body>
    <p>Available Models For {{type}}</p>
    <table>
        <tr>
            <th>Model Name</th>
            <th>Property</th>
        </tr>
        {% for line in data %}
        <tr>
            <td>{{line["model_name"]}}</td>
            <td>{{line["property"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <p>Enroll one of these listed models to location: {{lID}}</p>
    <form action="/enrollDevice" method="POST">
        Model Name:
        <input name="model_name">
        <input type="submit" value="Enroll">
    </form>
    <br><br>
    <a href="/viewDevice">Go Back</a>
</body>
</html>