<!DOCTYPE html>
<html lang="en">
<head>
    <title>Service Locations</title>
</head>
<style type="text/css">table,th,td{border: 1px solid black;}</style>
<body>
    <p>Your Service Locations:</p>
    <table>
        <tr>
            <th>Location ID</th>
            <th>Street</th>
            <th>Apartment</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zip Code</th>
            <th>Took Date</th>
            <th>Square Footage</th>
            <th>Bedrooms</th>
            <th>Occupants</th>
        </tr>
        {% for line in data %}
        <tr>
            <td>{{line["lID"]}}</td>
            <td>{{line["lstreet"]}}</td>
            <td>{{line["lapt"]}}</td>
            <td>{{line["lcity"]}}</td>
            <td>{{line["lstate"]}}</td>
            <td>{{line["lcountry"]}}</td>
            <td>{{line["lzip"]}}</td>
            <td>{{line["took_date"]}}</td>
            <td>{{line["square_footage"]}}</td>
            <td>{{line["bedrooms"]}}</td>
            <td>{{line["occupants"]}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <p>Add Service Location:</p>
    <form action="/AddServiceLocation" method="POST">
        Street:
        <input name="street" required>
        <br>
        Apartment:
        <input name="apartment" required>
        <br>
        City:
        <input name="city" required>
        <br>
        State:
        <input name="state" required>
        <br>
        Country:
        <input name="country" required>
        <br>
        Zip Code:
        <input name="zip" required>
        <br>
        Took Date:
        <input type="date" name="took_date" required>
        <br>
        Square Footage:
        <input type="number" name="square_footage" required>
        <br>
        Bedrooms:
        <input type="number" name="bedrooms" step="1" required>
        <br>
        Occupants:
        <input type="number" name="occupants" step="1" required>
        <br>
        <br>
        <input type="submit" value="Add">
        {% if error %}
        <p><strong>Error:</strong></p>
        {{error}}
        {% endif %}
    </form>
    <br>
    <p>Delete Service Location:</p>
    <form action="/DeleteServiceLocation" method="POST">
    Location ID:
    <input name="lID" required>
    <br><br>
    <input type="submit" value="Delete">
    {% if error1 %}
    <p><strong>Error:</strong></p>
    {{error1}}
    {% endif %}
    </form>
    <br><br>
    <a href="/home">Go Back</a>
</body>
</html>